# Auto detect text files and perform LF normalization
* text=auto

# Explicitly set line endings for specific file types
*.cs text eol=lf
*.csproj text eol=lf
*.sln text eol=lf
*.json text eol=lf
*.md text eol=lf
*.cshtml text eol=lf
*.js text eol=lf
*.css text eol=lf
*.config text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.sh text eol=lf
*.ps1 text eol=lf

# Denote binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.dll binary
*.exe binary
*.db binary
