/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 2025/10/23 上午 12:51:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DepartmentAssignments]    Script Date: 2025/10/23 上午 12:51:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DepartmentAssignments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IssueReportId] [int] NOT NULL,
	[DepartmentId] [int] NOT NULL,
	[AssignedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_DepartmentAssignments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 2025/10/23 上午 12:51:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Departments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DepartmentUsers]    Script Date: 2025/10/23 上午 12:51:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DepartmentUsers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[AssignedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_DepartmentUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IssueReports]    Script Date: 2025/10/23 上午 12:51:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IssueReports](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[RecordDate] [date] NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[Priority] [nvarchar](20) NOT NULL,
	[ReporterName] [nvarchar](100) NOT NULL,
	[CustomerName] [nvarchar](100) NOT NULL,
	[CustomerPhone] [nvarchar](20) NOT NULL,
	[AssignedUserId] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[LastModifiedByUserId] [int] NULL,
 CONSTRAINT [PK_IssueReports] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IssueReports_Backup_20251022]    Script Date: 2025/10/23 上午 12:51:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IssueReports_Backup_20251022](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[RecordDate] [date] NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[Priority] [nvarchar](20) NOT NULL,
	[ReporterName] [nvarchar](100) NOT NULL,
	[CustomerName] [nvarchar](100) NOT NULL,
	[CustomerPhone] [nvarchar](20) NOT NULL,
	[AssignedUserId] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2025/10/23 上午 12:51:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LineUserId] [nvarchar](100) NOT NULL,
	[DisplayName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](255) NULL,
	[Role] [nvarchar](20) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[PictureUrl] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251020155835_InitialCreate', N'8.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251020185117_AddDepartmentUsersTable', N'8.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251022085022_AddLastModifiedByUser', N'8.0.0')
GO
SET IDENTITY_INSERT [dbo].[DepartmentAssignments] ON 

INSERT [dbo].[DepartmentAssignments] ([Id], [IssueReportId], [DepartmentId], [AssignedAt]) VALUES (2, 2, 3, CAST(N'2025-10-20T18:25:48.8258323' AS DateTime2))
INSERT [dbo].[DepartmentAssignments] ([Id], [IssueReportId], [DepartmentId], [AssignedAt]) VALUES (13, 4, 3, CAST(N'2025-10-21T06:36:43.7174905' AS DateTime2))
INSERT [dbo].[DepartmentAssignments] ([Id], [IssueReportId], [DepartmentId], [AssignedAt]) VALUES (14, 3, 1, CAST(N'2025-10-22T01:53:53.4529830' AS DateTime2))
SET IDENTITY_INSERT [dbo].[DepartmentAssignments] OFF
GO
SET IDENTITY_INSERT [dbo].[Departments] ON 

INSERT [dbo].[Departments] ([Id], [Name], [Description], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (1, N'客服部', N'處理客戶服務相關問題', 1, CAST(N'2025-10-20T17:44:14.6028722' AS DateTime2), CAST(N'2025-10-22T02:08:24.9075039' AS DateTime2))
INSERT [dbo].[Departments] ([Id], [Name], [Description], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (2, N'技術部X', N'處理技術支援與系統問題', 1, CAST(N'2025-10-20T17:44:14.6028725' AS DateTime2), CAST(N'2025-10-20T18:56:20.8739388' AS DateTime2))
INSERT [dbo].[Departments] ([Id], [Name], [Description], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (3, N'客語系統', N'客語藝文競賽、客語生活學校補助計畫、客語十二年國教計畫申請、客語沉浸式教學實施計畫', 1, CAST(N'2025-10-20T17:44:14.6028726' AS DateTime2), CAST(N'2025-10-22T02:08:29.2183828' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Departments] OFF
GO
SET IDENTITY_INSERT [dbo].[DepartmentUsers] ON 

INSERT [dbo].[DepartmentUsers] ([Id], [DepartmentId], [UserId], [AssignedAt]) VALUES (7, 2, 2, CAST(N'2025-10-20T18:56:20.9747203' AS DateTime2))
INSERT [dbo].[DepartmentUsers] ([Id], [DepartmentId], [UserId], [AssignedAt]) VALUES (8, 1, 3, CAST(N'2025-10-22T02:08:24.9231384' AS DateTime2))
INSERT [dbo].[DepartmentUsers] ([Id], [DepartmentId], [UserId], [AssignedAt]) VALUES (9, 3, 3, CAST(N'2025-10-22T02:08:29.2241678' AS DateTime2))
SET IDENTITY_INSERT [dbo].[DepartmentUsers] OFF
GO
SET IDENTITY_INSERT [dbo].[IssueReports] ON 

INSERT [dbo].[IssueReports] ([Id], [Title], [Content], [RecordDate], [Status], [Priority], [ReporterName], [CustomerName], [CustomerPhone], [AssignedUserId], [CreatedAt], [UpdatedAt], [LastModifiedByUserId]) VALUES (1, N'第一筆測試資料', N'早安你好歡迎光臨。早安你好歡迎光臨。', CAST(N'2025-10-21' AS Date), N'Completed', N'Medium', N'咖波', N'狗狗', N'0900000000', 2, CAST(N'2025-10-20T17:47:40.7288647' AS DateTime2), CAST(N'2025-10-22T06:33:34.2066667' AS DateTime2), NULL)
INSERT [dbo].[IssueReports] ([Id], [Title], [Content], [RecordDate], [Status], [Priority], [ReporterName], [CustomerName], [CustomerPhone], [AssignedUserId], [CreatedAt], [UpdatedAt], [LastModifiedByUserId]) VALUES (2, N'第二筆測試資料', N'第二筆測試資料第二筆測試資料第二筆測試資料', CAST(N'2025-10-21' AS Date), N'Completed', N'High', N'陳俊宇', N'QQ', N'09111222333', 2, CAST(N'2025-10-20T18:25:48.7444927' AS DateTime2), CAST(N'2025-10-22T06:33:34.2066667' AS DateTime2), NULL)
INSERT [dbo].[IssueReports] ([Id], [Title], [Content], [RecordDate], [Status], [Priority], [ReporterName], [CustomerName], [CustomerPhone], [AssignedUserId], [CreatedAt], [UpdatedAt], [LastModifiedByUserId]) VALUES (3, N'AAA', N'CCCCCCCCCCCCCCCCC', CAST(N'2025-10-21' AS Date), N'Completed', N'Low', N'陳俊宇', N'AAA', N'0900111111', 1, CAST(N'2025-10-20T18:57:56.5413019' AS DateTime2), CAST(N'2025-10-22T01:53:53.4529859' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[IssueReports] OFF
GO
SET IDENTITY_INSERT [dbo].[IssueReports_Backup_20251022] ON 

INSERT [dbo].[IssueReports_Backup_20251022] ([Id], [Title], [Content], [RecordDate], [Status], [Priority], [ReporterName], [CustomerName], [CustomerPhone], [AssignedUserId], [CreatedAt], [UpdatedAt]) VALUES (1, N'第一筆測試資料', N'早安你好歡迎光臨。早安你好歡迎光臨。', CAST(N'2025-10-21' AS Date), N'InProgress', N'Medium', N'咖波', N'狗狗', N'0900000000', 2, CAST(N'2025-10-20T17:47:40.7288647' AS DateTime2), CAST(N'2025-10-22T01:54:31.9648598' AS DateTime2))
INSERT [dbo].[IssueReports_Backup_20251022] ([Id], [Title], [Content], [RecordDate], [Status], [Priority], [ReporterName], [CustomerName], [CustomerPhone], [AssignedUserId], [CreatedAt], [UpdatedAt]) VALUES (2, N'第二筆測試資料', N'第二筆測試資料第二筆測試資料第二筆測試資料', CAST(N'2025-10-21' AS Date), N'InProgress', N'High', N'陳俊宇', N'QQ', N'09111222333', 2, CAST(N'2025-10-20T18:25:48.7444927' AS DateTime2), CAST(N'2025-10-20T18:25:48.7444930' AS DateTime2))
SET IDENTITY_INSERT [dbo].[IssueReports_Backup_20251022] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [LineUserId], [DisplayName], [Email], [Role], [IsActive], [PictureUrl], [CreatedAt], [UpdatedAt]) VALUES (1, N'system_admin', N'系統管理員', N'admin@claritydesk.com', N'Admin', 1, NULL, CAST(N'2025-10-20T17:44:14.6028711' AS DateTime2), CAST(N'2025-10-20T17:44:14.6028714' AS DateTime2))
INSERT [dbo].[Users] ([Id], [LineUserId], [DisplayName], [Email], [Role], [IsActive], [PictureUrl], [CreatedAt], [UpdatedAt]) VALUES (2, N'U757e1e3fa1196de83b60cec3249b7b3d', N'陳俊宇', NULL, N'Admin', 1, N'https://profile.line-scdn.net/0hekH5gWsnOkRlTBMPQBREOxUcOS5GPWNWTn8ndwAYY3wPeX8WSCogKgJMNnNQKH4XHSxxKldKYSNpX00iexrGcGJ8ZHNcenUQSip1pg', CAST(N'2025-10-20T17:46:25.2097772' AS DateTime2), CAST(N'2025-10-22T16:46:51.0573111' AS DateTime2))
INSERT [dbo].[Users] ([Id], [LineUserId], [DisplayName], [Email], [Role], [IsActive], [PictureUrl], [CreatedAt], [UpdatedAt]) VALUES (3, N'U78c271ee15cc4f68d25061608b892f01', N'💐Judy', NULL, N'Admin', 1, N'https://profile.line-scdn.net/0hUBgR0l8UCm1KKxTnflR0Uzp7CQdpWlN_bh9MC3suUlp1Txo_MhkQXCosBAgkEho6ZUwVDSt5VVxoQjZgGQonchtTDzwOekhtZAhMQntSCwglXgs-MAkDaHovAz0WW0VMHxZFFzxqVFUPBzdjJwhGUTkrOlxwSxRDMXxmO08ZZO4lKX07YUlDA30oVF3z', CAST(N'2025-10-21T06:35:50.3671561' AS DateTime2), CAST(N'2025-10-22T07:14:24.5530351' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [IX_DepartmentAssignments_DepartmentId]    Script Date: 2025/10/23 上午 12:51:43 ******/
CREATE NONCLUSTERED INDEX [IX_DepartmentAssignments_DepartmentId] ON [dbo].[DepartmentAssignments]
(
	[DepartmentId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DepartmentAssignments_IssueReportId_DepartmentId]    Script Date: 2025/10/23 上午 12:51:43 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_DepartmentAssignments_IssueReportId_DepartmentId] ON [dbo].[DepartmentAssignments]
(
	[IssueReportId] ASC,
	[DepartmentId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Departments_IsActive]    Script Date: 2025/10/23 上午 12:51:43 ******/
CREATE NONCLUSTERED INDEX [IX_Departments_IsActive] ON [dbo].[Departments]
(
	[IsActive] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Departments_Name]    Script Date: 2025/10/23 上午 12:51:43 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Departments_Name] ON [dbo].[Departments]
(
	[Name] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DepartmentUsers_DepartmentId_UserId]    Script Date: 2025/10/23 上午 12:51:43 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_DepartmentUsers_DepartmentId_UserId] ON [dbo].[DepartmentUsers]
(
	[DepartmentId] ASC,
	[UserId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DepartmentUsers_UserId]    Script Date: 2025/10/23 上午 12:51:43 ******/
CREATE NONCLUSTERED INDEX [IX_DepartmentUsers_UserId] ON [dbo].[DepartmentUsers]
(
	[UserId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_IssueReports_AssignedUserId]    Script Date: 2025/10/23 上午 12:51:43 ******/
CREATE NONCLUSTERED INDEX [IX_IssueReports_AssignedUserId] ON [dbo].[IssueReports]
(
	[AssignedUserId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_IssueReports_LastModifiedByUserId]    Script Date: 2025/10/23 上午 12:51:43 ******/
CREATE NONCLUSTERED INDEX [IX_IssueReports_LastModifiedByUserId] ON [dbo].[IssueReports]
(
	[LastModifiedByUserId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_IssueReports_Priority]    Script Date: 2025/10/23 上午 12:51:43 ******/
CREATE NONCLUSTERED INDEX [IX_IssueReports_Priority] ON [dbo].[IssueReports]
(
	[Priority] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_IssueReports_RecordDate]    Script Date: 2025/10/23 上午 12:51:43 ******/
CREATE NONCLUSTERED INDEX [IX_IssueReports_RecordDate] ON [dbo].[IssueReports]
(
	[RecordDate] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_IssueReports_Status]    Script Date: 2025/10/23 上午 12:51:43 ******/
CREATE NONCLUSTERED INDEX [IX_IssueReports_Status] ON [dbo].[IssueReports]
(
	[Status] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_IssueReports_Status_Priority]    Script Date: 2025/10/23 上午 12:51:43 ******/
CREATE NONCLUSTERED INDEX [IX_IssueReports_Status_Priority] ON [dbo].[IssueReports]
(
	[Status] ASC,
	[Priority] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_LineUserId]    Script Date: 2025/10/23 上午 12:51:43 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Users_LineUserId] ON [dbo].[Users]
(
	[LineUserId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_Role_IsActive]    Script Date: 2025/10/23 上午 12:51:43 ******/
CREATE NONCLUSTERED INDEX [IX_Users_Role_IsActive] ON [dbo].[Users]
(
	[Role] ASC,
	[IsActive] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DepartmentAssignments] ADD  DEFAULT (getutcdate()) FOR [AssignedAt]
GO
ALTER TABLE [dbo].[Departments] ADD  DEFAULT (CONVERT([bit],(1))) FOR [IsActive]
GO
ALTER TABLE [dbo].[Departments] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[DepartmentUsers] ADD  DEFAULT (getutcdate()) FOR [AssignedAt]
GO
ALTER TABLE [dbo].[IssueReports] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (CONVERT([bit],(1))) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[DepartmentAssignments]  WITH CHECK ADD  CONSTRAINT [FK_DepartmentAssignments_Departments_DepartmentId] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Departments] ([Id])
GO
ALTER TABLE [dbo].[DepartmentAssignments] CHECK CONSTRAINT [FK_DepartmentAssignments_Departments_DepartmentId]
GO
ALTER TABLE [dbo].[DepartmentAssignments]  WITH CHECK ADD  CONSTRAINT [FK_DepartmentAssignments_IssueReports_IssueReportId] FOREIGN KEY([IssueReportId])
REFERENCES [dbo].[IssueReports] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DepartmentAssignments] CHECK CONSTRAINT [FK_DepartmentAssignments_IssueReports_IssueReportId]
GO
ALTER TABLE [dbo].[DepartmentUsers]  WITH CHECK ADD  CONSTRAINT [FK_DepartmentUsers_Departments_DepartmentId] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Departments] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DepartmentUsers] CHECK CONSTRAINT [FK_DepartmentUsers_Departments_DepartmentId]
GO
ALTER TABLE [dbo].[DepartmentUsers]  WITH CHECK ADD  CONSTRAINT [FK_DepartmentUsers_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DepartmentUsers] CHECK CONSTRAINT [FK_DepartmentUsers_Users_UserId]
GO
ALTER TABLE [dbo].[IssueReports]  WITH CHECK ADD  CONSTRAINT [FK_IssueReports_Users_AssignedUserId] FOREIGN KEY([AssignedUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[IssueReports] CHECK CONSTRAINT [FK_IssueReports_Users_AssignedUserId]
GO
ALTER TABLE [dbo].[IssueReports]  WITH CHECK ADD  CONSTRAINT [FK_IssueReports_Users_LastModifiedByUserId] FOREIGN KEY([LastModifiedByUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[IssueReports] CHECK CONSTRAINT [FK_IssueReports_Users_LastModifiedByUserId]
GO
